*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.skeleton{
    background-color: white;
    display: flex;
    flex-direction: column;

}

.header{
    display: flex;
    background-color: #1F2937;
    align-items: baseline;
    padding-left: 15%;
    padding-right: 15%;
    height: 40px;
}

.main{
    background-color: #1F2937;
    height: 450px;
    display: flex;
    align-items: center;
}

.maintext{
    padding-left: 15%;
    flex: 1;
}
.awesometext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 5px;
}
.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 5px;
}
.mainimg{
    flex: 1.5;
    padding-right: 15%;
}
.img{
    height: 250px;
    width: 500px;
    background-color: gray;
    border-radius: 5px;
    margin-left: 150px;
    text-align: center;
    padding-top: 110px;
    color: #E5E7EB;
}

.headerchild{
    margin: 5px;
    flex: 0 0 150px;
}
.signup{
    background-color: #3882F6;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    color: #F9FAF8
}

.logo{
    flex: 30%;
    font-size: 24px;
    color: #F9FAF8;
}
.link{
    font-size: 18px;
    color: #E5E7EB;
}
.information{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infocontainer{
    display: flex;
    justify-content: center;
}
.infoheader{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 50px;
    
}
.info{
    border: 5px solid #3882F6;
    border-radius: 15px;
    height: 150px;
    flex: 0 0 150px;
    margin: 50px 20px 0px 20px;
}
.infocontainertext{
    display: flex;
    justify-content: center;
}
.infotext{
    height: 150px;
    flex: 0 0 150px;
    margin: 20px;
    margin-top: 2px;
    text-align: center;
}
.quote{
    flex: 1 0 350px;
    background-color: #E5E7EB;
}
.quotetext{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    padding: 80px 25% 0px 25%;
}
.thor{
    color: #1F2937;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 60%;
    margin-top: 10px;
    margin-bottom: 25px;
}
.callaction{
    height: 250px;
    display: flex;
    justify-content: center;
}
.callactionbar{
    height: 110px;
    background-color: #3882F6;
    margin: 75px 0px 75px 0px;
    border-radius: 5px;
    display: flex;
    flex: 0 0 720px;
}
.bartexts{
    margin-left: 3%;
    align-self: center;
    flex: 0 0 80%;
}
.barbutton{
    flex: 0 1 20%;
    align-self: center;
}
.actionheader{
    font-size: 18px;
    color: #F9FAF8;
}
.actiontext{
    color: #E5E7EB;
}
.actionbutton{
    color: #F9FAF8;
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: #F9FAF8 2px solid;
}
.footer{
    height: 60px;
    background-color: #1F2937;
}
.footertext{
    color: #F9FAF8;
    text-align: center;
    margin-top: 20px;
}
